<ng-container *ngIf="beer">
  <div class="container-fluid">
    <div class="row position-fixed fixed-top w-100 justify-content-center">
      <div (click)="close($event)" class="dim-around position-fixed fixed-top h-100"> </div>

      <div class="beer-modal p-0 rounded shadow m-0 m-sm-2 col-12 col-sm-9  justify-content-center">
        <div class="text-right">
          <button class="close-button btn text-right mr-1" (click)="close($event)">X</button>
        </div>
        <app-detail-page></app-detail-page>
      </div>
    </div>
  </div>
</ng-container>