.beer-modal {
    z-index: 2;
    text-align: center;
    margin: 3% auto;
    background-color:  rgb(232, 247, 231);
}

.dim-around {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.555);
}

.close-button {
    background-color: transparent;
}