<div class="container justify-content-center shadow">
  <h1 class="text-uppercase">Get some...
  </h1>
  <p>Simple Angular 6 with Bootstrap 4 page that uses <a href="https://punkapi.com/documentation/v2">Punk API</a>.</p>
  <router-outlet></router-outlet>
</div>