<app-beer-modal *ngIf="showModalFlag"></app-beer-modal>
<app-error-page *ngIf="errorWhileLoading"></app-error-page>

<div id="scrollDetector" (window:scroll)="onScrollToBottom($event)" class="row justify-content-around">
  <div class="beer-position col-8 m-4 col-md-4 m-md-1 p-2 shadow rounded" *ngFor="let beer of beersList">
    <div class="justify-content-center" (click)="showModal(beer)">

      <h2 class="text-center">{{beer.name}}</h2>
      <div class="text-center">
        <img class="beer-position__image" [src]="beer.image_url" />
      </div>
      <p class="text-center font-weight-light m-2">
        {{beer.tagline}}
      </p>
      <p class="beer-position__parameters">
        <small>IBU:
          <span class="font-weight-light">{{beer.ibu | decPointDotToComa}}</span> ABV:
          <span class="font-weight-light">{{beer.abv | decPointDotToComa}} %</span> EBC:
          <span class="font-weight-light">{{beer.ebc | decPointDotToComa}}</span>
        </small>
      </p>
    </div>
  </div>
</div>

<div *ngIf="loadingMoreBeers && !noMoreBeersToLoad" class="spinning">loading</div>