.beer-position:hover {
    background-color: rgb(224, 250, 173);
    transition: background-color .5s;
}

.beer-position {
    background-color:  rgb(232, 247, 231);
    transition: background-color .5s;
}

.beer-position__image {
    height: 120px;
    margin: auto;
    text-align: center;
}

.beer-position__parameters {
    border-top: 1px solid gray;
}

.spinning {
    animation: spin 3s infinite ease-in-out;
    -webkit-animation: spin2 3s infinite ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@keyframes spin {
    from { transform: scale(1) rotate(-10deg); }
    to { transform: scale(1) rotate(350deg); }
}

@keyframes spin2 {
    from { transform: scale(1) rotate(-10deg); }
    to { transform: scale(1) rotate(350deg); }
}
