<ng-container *ngIf="beer">
  <div class="container">
    <section class="row">
      <div class="col-2">
        <img class="beer-page__image" [src]="beer.image_url" />
      </div>
      <div class="col-10 text-left">
        <p><span class="font-weight-light">It is called: </span>{{beer.name}}</p>
        <small class="beer-page__tagline text-muted text-center">{{beer.tagline}}</small>
        <div class="beer-page__line_decorator"></div>
        <p class="font-weight-light text-justify">{{beer.description}}</p>

        <p class="mt-3 mb-0">Connects nicely with:</p>
        <ul class="beer-page__list font-weight-light">
          <li class="beer-page__list-position" *ngFor="let tip of beer.food_pairing">
            {{tip}}
          </li>
        </ul>
        <p>IBU:
          <span class="font-weight-light">{{beer.ibu | decPointDotToComa}}</span> ABV:
          <span class="font-weight-light">{{beer.abv | decPointDotToComa}} %</span> EBC:
          <span class="font-weight-light">{{beer.ebc | decPointDotToComa}}</span>
        </p>
      </div>

      <div class="container" *ngIf="similarBeers.length">
        <div class="row justify-content-around">
          <div class="col-12">
            But if you want something else:
          </div>
          <div (click)="showSimilarBeerInModal(similarBeer)" class="similar-beers rounded col-3 m-2 border shadow-sm" *ngFor="let similarBeer of similarBeers">
            <div class="m-2  text-center">
              <img class="similar-beers__image" [src]="similarBeer.image_url" />
            </div>
            <p class="m-0 align-text-bottom  text-center">{{similarBeer.name}}</p>
          </div>
        </div>
      </div>

    </section>
  </div>
</ng-container>