.beer-page__line_decorator {
    border-top: 2px solid green;
    width: 50%;
    height: 1em;
}

.beer-page__image {
    width: 70px;
}

.beer-page__list {
    padding: 0;
    font-weight: normal;
}

.beer-page__list-position {
    list-style-type: none;
}

.beer-page__list-position:before {
    content: "-";
}

.similar-beers {
    background-color:  rgb(196, 240, 179);
    transform: scale(1)!important;
    transition: all .2s ease-in!important;
}
.similar-beers:hover {
    background-color: rgb(240, 247, 176) !important;
    transition: background-color .5s !important;
}

.similar-beers__image {
    height: 100px;
}