/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  font-family: 'Slabo 27px', serif;
  font-weight: bolder;
}

h1{
  font-size: 2em;
}

h2, h3, h4, h5, h6 {
  font-size: 1.5em;
}